.label {
  display: block;
}

.input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 0.85rem;
  box-sizing: border-box;
}

.errors {
  color: red;
  list-style: none;
  padding: 0;
  margin-bottom: 0.85rem;
}
