.post {
  animation: fadeIn 0.3s ease-in-out;

  h1 {
    text-transform: capitalize;
  }
}

.skeletonHeader {
  height: 77px;
  background-color: #222;
  margin-bottom: 1em;
  border-radius: 4px;
}

.skeletonSubheader {
  height: 39px;
  background-color: #222;
  margin-bottom: 1em;
  border-radius: 4px;
}

.skeletonBody {
  height: 60px;
  background-color: #222;
  margin-bottom: 1em;
  border-radius: 4px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
