.post {
  animation: fadeIn 0.3s ease-in-out;

  h1 {
    text-transform: capitalize;
  }
}

.skeletonHeader {
  height: 77px;
  width: 90%;
  background-color: #222;
  margin-bottom: 1em;
  border-radius: 4px;
}

.skeletonSubheader {
  height: 39px;
  width: 80%;
  background-color: #222;
  margin-bottom: 1em;
  border-radius: 4px;
}

.skeletonBody {
  height: 80px;
  background-color: #222;
  margin-bottom: 1em;
  border-radius: 4px;
}

.skeletonNav {
  display: flex;
  align-items: center;
  padding-top: 18px;
}

.skeletonButton {
  height: 47px;
  background-color: #222;
  width: 72px;
  border-radius: 4px;
  &:first-of-type {
    margin-right: auto;
    width: 100px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
