.page {
  display: flex;
  width: 800px;
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 4px;
}

.main {
  flex: 1;
  padding: 20px 20px 20px 40px;
}

h1, h2, h3 {
  margin: 0;
  margin-bottom: 8px;
}
