.list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input {
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  border-radius: 4px;
  font-size: 1em;
  border: none;
}

.inputLabel {
  display: block;
  margin-bottom: 24px;
  width: 350px;

  span {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.item {
  padding: 8px;
  color: #eee;
  background: #222;
  border-radius: 4px;

  p {
    margin: 0;
  }

  > div {
    animation: fade-in 0.5s ease-in-out;
  }
}

.itemId {
  font-size: .8em;
  margin: 0 0 4px 0;
}

.itemName {
  font-size: 1.2em;
  margin: 0 0 4px 0;
  display: block;
}

.itemDescription {
  font-size: .85em;
}

.done {
  opacity: 0.5;
  background: seagreen;
}

.skeleton {
  height: 109px;
  padding: 8px;
  color: #eee;
  background: #222;
  border-radius: 4px;
}

.buttons {
  display: flex;
  gap: 6px;
  margin: 12px 0 0 0;

  button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}