.button {
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #222;
  font: inherit;
}

.primary {
  background-color: #eee;
  color: #111;
}

.secondary {
  background-color: #111;
  color: #eee;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}
