.nav {
  width: 180px;
  padding: 20px 20px 20px 0;
  display: flex;
  border-right: 1px solid #a1a1a1;
  flex-direction: column;
}

.nav span {
  font-weight: 800;
  margin-top: 18px;
  margin-bottom: 4px;
  color: #a1a1a1;
  font-size: 12px;
  display: block;
  text-transform: uppercase;
}

.nav a {
  color: #fff;
  margin-bottom: 2px;
  text-decoration: none;
}
.nav a:hover {
  text-decoration: underline;
}